body{
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    font-family: 'Poppins', serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
  }
  
  header{
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .nav_links {
    display: flex;
    flex-direction: column;
  }

  .nav_links:visited {
    color: inherit;
  }

  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }


  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:visited {
    color: blue;
  }

  .nav_item a:hover, a:focus {
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }


  .pricing{
    min-height: 475px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 12px;
    /*margin: auto;*/
    background: #ffffff;
    /*border-radius: 7px;*/
    border-radius: 0px;
    padding: 0 0 25px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 450px;
  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
    background: #ffffff;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    background: #ffffff;
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card > header {
    background-color: #288088;
    border: 2px solid #45adad;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
  }

  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
/*.card ul header {
  background-color: #ffffff;
  border: 2px solid #45adad;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none none solid none;
  text-align: center;
} */

  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  .gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }

  #logo {
    animation: mymove 5s;
  }

  @keyframes mymove {
    0% {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
  }

  @media screen and (min-width: 900px){
    header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .nav_links{
      display: flex;
      flex-direction: row;
    }

    .card{
      flex-basis: 250px;
    }

    body > header {
      width: 100%;
      position: sticky;
      top: 0;
    }

  }

  @media (prefers-reduced-motion) {
    .animation {
      animation-name: dissolve;
    }
  }

  @media print {
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: none;
    }

    nav {
      width: 100%;
    }

    .nav_links {
      flex-direction: row;
      justify-content: space-around;
     /* align-items: center;
      width: 100%;*/
    }

    .pricing {
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: space-between;
    }

    .card {
      border: 2px solid #45addd;
      flex-basis: 325px;
    }

    .card ul > :first-child + li::after{
      content: "\1F44D";
    }

    #gallery {
      display: none;
    }

    .gallery {
      display: none;
    }
  }